// @font-face {
//   font-family: 'Phosphate';
//   src: url('fonts/ufonts.com_phosphateinline.eot'); /* IE9 Compat Modes */
//   src: url('fonts/ufonts.com_phosphateinline.woff') format('woff'), /* Pretty Modern Browsers */
//        url('fonts/ufonts.com_phosphateinline.ttf')  format('truetype'), /* Safari, Android, iOS */
// }


.slider-head{
	font-family: 'Phosphate';
	font-style: normal;
}

.custom-well {

	padding: 20px 20px;
	background: rgba(0,0,0,0.5);
	border:none;
	font-size:30px;
	color:#fff;

}